---
import featureStyles from "../FeatureSection/FeatureSection.module.css";
import styles from "./ServerMap.module.css";
import { Image } from "astro:assets";
import mapa from "../../assets/mapa.png";

interface Location {
  country: string;
  city: string;
  x: number;
  y: number;
}

interface Props {
  ariaLabel: string;
  locations: Location[];
}
const { ariaLabel }: Props = Astro.props;
---

<div
  class={`${featureStyles["feature-card"]} ${styles["map-card"]} rounded-xl p-6`}
>
  <Image
    src={mapa}
    alt={ariaLabel}
    width={mapa.width}
    height={mapa.height}
    class="w-full h-auto"
    loading="lazy"
    decoding="async"
  />
</div>
